<header>
  <h1>Blog du produit XXXXXXX</h1>
</header>

<section ng-repeat="art in article">
  <h2>{{art.titre}}</h2>
  <em>{{art.date}}</em>
  <p ng-bind-html="art.description">
    <!-- description -->
  </p>
  <dir-disqus disqus-shortname="yexan"
              disqus-identifier="{{art.titre}}"
              disqus-url="http://adrienmartinet.com/tests/hepta_blog/{{art.lien}}">
  </dir-disqus>
</section>

<!-- Footer
================================================== -->
<footer>
  <p>Réalisé par l'agence HEPTA</p>
</footer>